<!DOCTYPE html>
<html xmlns:https="http://www.w3.org/1999/xhtml">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https:\\maxcdn.bootstrapcdn.com\bootstrap\3.3.7\css\bootstrap.min.css">
      <link rel='stylesheet' href="\stylesheets\style.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
    {{>navigation}}
  </body>
</html>
